  <span class="picture">
  <label for="micropost_picture" class="custom-file-upload">
             <span class="oi oi-image" title="image" aria-hidden="true"></span> Upload Pic
  </label>
  <input accept="image/jpeg,image/gif,image/png" type="file" name="micropost[picture]" id="micropost_picture"/>
  </span>
