%span.picture
  %label.custom-file-upload{:for => "micropost_picture"}
    %span.oi.oi-image{"aria-hidden" => "true", :title => "image"}
    Upload Pic
  %input#micropost_picture{:accept => "image/jpeg,image/gif,image/png", :name => "micropost[picture]", :type => "file"}/
