<% if @type == :selected %>
    <span class="h4-reg pr-2">Posts by you and your followers</span>
    <span><%= link_to "View all posts", home_all_path, class: "micropost-name profile-link", id: "all-posts", remote: true %></span>
<% elsif @type == :all %>
    <span class="h4-reg pr-2">Posts by everyone</span>
    <span><%= link_to "View posts from your followers only", home_index_path, class: "micropost-name profile-link", id: "followers-only-posts", remote: true %></span>
<% end %>

<div class="feed">
    <%= render 'shared/feed' %>
</div>
