- if @type == :selected
  %span.h4-reg.pr-2 Posts by you and your followers
  %span= link_to "View all posts", home_all_path, class: "micropost-name profile-link", id: "all-posts", remote: true
- elsif @type == :all
  %span.h4-reg.pr-2 Posts by everyone
  %span= link_to "View posts from your followers only", home_index_path, class: "micropost-name profile-link", id: "followers-only-posts", remote: true
.feed
  = render 'shared/feed'
