feed = document.querySelector('.feed-holder')
feed.innerHTML = "#{escape_javascript(render('home/feed', locals: {type: @type}))}"

index_feed = document.querySelector('#followers-only-posts')
index_feed.addEventListener('click', function() {
history.pushState({type: 'index'}, '', '/home/index')
})
