<div class="container-fluid gradient-bg h-100">
    <div class="row h-100">
        <div class="col-md-3 offset-md-2">
            <div class="h-100 d-flex flex-column align-items-center justify-content-center">
                <div class="pb-3">
                    <h1 class="meteorite-h1">Meteorite</h1>
                </div>
                <div>
                    <%= image_tag "logo_stripped.png", class: "img-fluid center banner-image"%>
                </div>
            </div>
        </div>
        <div class="col-md-3 offset-md-2">
            <div class="h-100 d-flex flex-column align-items-center justify-content-center">
                <div>
                    <h2 id="tagline">Take the chance.</h2>
                </div>
                <div>
                    <h2 id="byline">Signup today. It just takes a minute.</h2>
                </div>
                <div class="mt-5 w-100">
                    <%= button_to "SIGN UP",  new_user_registration_path, :method => "get", :class => "btn btn-outline-primary all-caps w-100" %>
                </div>
                <div class="mt-2 w-100">
                    <%= button_to "LOGIN", new_user_session_path, :method => "get", :class => "btn btn-primary mr-1 all-caps w-100" %>
                </div>
            </div>
        </div>
    </div>
</div>
