<div class="container-fluid gradient-bg h-100">
    <div class="row h-100">
        <div class="col-md-3 offset-md-2">
            <div class="h-100 d-flex flex-column align-items-center justify-content-center">
                <div>
                    <h1 class="meteorite-h1">Meteorite</h1>
                </div>
                <div>
                    <%= image_tag "logo_stripped.png", class: "img-fluid"%>
                </div>
            </div>
        </div>
        <div class="col-md-3 offset-md-2">
            <div class="h-100 d-flex flex-column align-items-center justify-content-center">
                <div>
                    <h2 id="tagline">Take the chance.</h2>
                </div>
                <div>
                    <h2 id="byline">Signup today. It just takes a minute.</h2>
                </div>
                <div class="mt-5 w-100">
                    <button class="btn btn-outline-primary w-100">SIGN UP</button>
                </div>
                <div class="mt-2 w-100">
                    <button class="btn btn-primary w-100">LOGIN</button>
                </div>
            </div>
        </div>
    </div>
</div>
