.container-fill.gradient-bg.w-100.d-flex.flex-column.justify-content-center
  .row
    .col-md-3.offset-md-2
      .h-100.d-flex.flex-column.align-items-center.justify-content-center
        .pb-3
          %h1.meteorite-h1 Meteorite
        %div
          = image_tag "logo_stripped.png", class: "img-fluid center banner-image pb-6"
    .col-md-3.offset-md-2
      .h-100.d-flex.flex-column.align-items-center.justify-content-center
        %div
          %h2#tagline Take the chance.
        %div
          %h2#byline Sign up today. It just takes a minute.
        .mt-5.w-100
          = button_to "SIGN UP",  new_user_registration_path, :method => "get", :class => "btn btn-outline-primary all-caps w-100"
        .mt-2.w-100.pb-6
          = button_to "LOGIN", new_user_session_path, :method => "get", :class => "btn btn-primary mr-1 all-caps w-100"
