@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
$spacer: 1rem !default;
$spacers: (6: ($spacer * 6));
$theme-colors: ("primary": #FF837C,
    "dark": #593634,
    "primary-color-3": #FECEA8);

$primary-color-3: #FECEA8;
$primary-color-light: #FFE4CC;
$background-color: #FCEDE3;
$primary: #FF837C;
$dark: #593634;
$very-light-gray: #BFADAC;
$gray-light: #806766;
$font-family-sans-serif: Roboto;
$font-family-monospace: Roboto;
